extend base.pug


block script 
    script(src='/static/index.js')

block style 
    style 
        include ../static/stylecontactus.css
    
block content 
    h1  Contact us
    form(action="/contact",method='post', Class ='myform') 
        input(type='text',Class='myinput',name="name" placeholder="Enter your name")
        input(type='text',Class='myinput',name="email" placeholder="Enter your email")
        input(type='text',Class='myinput',name="address" placeholder="Enter your  adrress")
        input(type='text',Class='myinput',name="desc" placeholder="Enter your concern")
        button(Class='btn') 
           | submit