@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    box-sizing: border-box;
    margin: 0px ;
    padding: 0px;
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
}
#navbar{
    background: rgb(202 175 181);
    padding: 8px 12px;

}
#logo{
    display: flex;
    /* font-size: small;     */
    align-items: center;
    
    padding: 5px 3px;
    color: rgb(158, 25, 25);
}
#logo img{
    padding: 2px;
    height: 35px;
    width: 35px;
    align-items: center;
    border-radius: 18px;
}
#navbar li a{
     text-decoration: none;
     display: flex;
     flex-direction: column;
}
#navbar li{
    list-style: none;
    padding: 5px 18px;
}
#navbar ul{
    display: flex;
    flex-direction: row;        
    justify-content: center;
    align-items: center;
}

#intro{
    color: rgb(248, 38, 38);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    /* justify-content: center; */
    align-items: center;
    background: center / cover no-repeat url('/static/img/bg.jpg');
    height: 40rem;
    z-index: -1;
    opacity: 0.9;
    width: 100%;
    background-color: rgb(158, 158, 113);
    font-size: 3rem;

}
#intro .eat{
    padding-top: 10px;
    font-size: 70px;
    opacity: 0.7;
    color: rgba(248, 143, 44, 0.884)
}
#intro .Welcome{
    padding-top: 10px;
    font-size: 80px;
    opacity: 0.8;
}
#ourmission{
    height: 400px;
    background: center / cover no-repeat url('/static/img/Pure\ Lust.jpg');
    

}
#ourmission img{
    opacity: 0.8;
}
.cardbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cardimg img{
    width: 100px;
    height: inherit;
    padding: 7px 14px;

}
.card h3{
    /* font-weight: bold; */
    display: block;
    margin: 3px auto;

    margin-left: 75px;
}
.card{

    display: inline-block;
    /* margin: 30px  auto; */
    border: 2px solid black;
    border-radius: 10px;
    margin: 30px 23px;
    width: 25%;
    height: 200px;

    /* background: center / cover no-repeat url('/static/img/PunYeta.jpg'); */
}
#sponsersection{
    
    height: 100%;
    background-color: yellow;
}
 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    


}
#sponsers{
    display: flex;
    justify-content: center;
    height: 120px;
    padding: inherit;
    margin: 27px auto;
    max-width: 1000px;
    
}
.spimg{
   height: 100px;
   width: 100px;

}

#footer{
    background-color: rebeccapurple;
    height: 100px;
}